@charset "UTF-8";
body {
  margin: 0;
  /* 外边距 */
  padding: 0;
  /* 内边距 */
  display: flex;
  /* 弹性盒模型 */
  justify-content: space-around;
  /* 主轴对齐方式 */
  align-items: center;
  /* 交叉轴对齐方式 */
  background: #2d3038;
  /* 背景颜色 */
  height: 100vh;
  /* 高度 */
}

.loading {
  position: relative;
  /* 相对定位，为了不让子元素定位到根而设置 */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* 边框圆角 */
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: animateLoading 0.7s linear infinite;
}

.loading::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background: #2d3038;
  border-radius: 50%;
}

.loading span {
  position: absolute;
  /* 绝对定位 */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.loading span:nth-child(1) {
  filter: blur(8px);
}

.loading span:nth-child(2) {
  filter: blur(16px);
}

.loading span:nth-child(3) {
  filter: blur(24px);
}

.loading span:nth-child(4) {
  filter: blur(32px);
}

.loader-dealy {
  display: flex;
  animation-delay: 1s;
}

.loader-dealy .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}

.loader-dealy .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}

.loader-dealy .dot:nth-child(1) {
  background: #14ffe9;
}

.loader-dealy .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}

.loader-dealy .dot:nth-child(2) {
  background: #1af0b0;
}

.loader-dealy .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}

.loader-dealy .dot:nth-child(3) {
  background: #ffeb3b;
}

.loader-dealy .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}

.loader-dealy .dot:nth-child(4) {
  background: #f03716;
}

.loader-dealy .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}

.loader-dealy .dot:nth-child(5) {
  background: #ff00e0;
}

.loader-dealy .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes animateLoading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}
