@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: #1a1e23;
}

.btn {
  position: relative;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  background-color: #00aed1;
  border: 1px solid #00aed1;
  outline: transparent;
}

.btn:hover {
  background: #00849e;
}

.btn-ghost {
  color: #00d1b2;
  background-color: transparent;
  border-color: #00d1b2;
}

.btn-ghost:hover {
  color: white;
}

.btn-border-stroke {
  border-color: rgba(0, 209, 178, 0.35);
}

.btn-border-stroke .btn-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-border-stroke .btn-borders .border-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #00d1b2;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-border-stroke .btn-borders .border-right {
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: #00d1b2;
  transform: scaleY(0);
  transform-origin: bottom;
}

.btn-border-stroke .btn-borders .border-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #00d1b2;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-border-stroke .btn-borders .border-left {
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background: #00d1b2;
  transform: scaleY(0);
  transform-origin: bottom;
}

.btn-border-stroke .btn-borders .border-left {
  transition: 0.65s 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-border-stroke .btn-borders .border-bottom {
  transition: 0.65s 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-border-stroke .btn-borders .border-right {
  transition: 0.25s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.btn-border-stroke .btn-borders .border-top {
  transition: 0.25s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.btn-border-stroke:hover {
  color: #00d1b2;
  background: transparent;
}

.btn-border-stroke:hover .border-top,
.btn-border-stroke:hover .border-bottom {
  transform: scaleX(1);
}

.btn-border-stroke:hover .border-left,
.btn-border-stroke:hover .border-right {
  transform: scaleY(1);
}

.btn-border-stroke:hover .border-left {
  transition: 0.25s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.btn-border-stroke:hover .border-bottom {
  transition: 0.25s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.btn-border-stroke:hover .border-right {
  transition: 0.65s 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-border-stroke:hover .border-top {
  transition: 0.65s 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-text-float-up::after {
  position: absolute;
  content: attr(data-text);
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(35%);
  transition: 0.25s ease-out;
}

.btn-text-float-up .btn-text {
  display: block;
  transition: 0.75s 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.btn-text-float-up:hover .btn-text {
  opacity: 0;
  transform: translateY(-35%);
  transition: 0.25s ease-out;
}

.btn-text-float-up:hover::after {
  opacity: 1;
  transform: translateY(0);
  transition: 0.75s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
