.btn-multiple-border-stroke {
  border-color: transparent;
}

.btn-multiple-border-stroke .btn-borders-group {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 174, 209, 0.35);
}

.btn-multiple-border-stroke .btn-borders-group:nth-child(1) {
  left: -8px;
  padding: 0 8px;
}

.btn-multiple-border-stroke .btn-borders-group:nth-child(2) {
  top: -8px;
  padding: 8px 0;
}

.btn-multiple-border-stroke .btn-borders-group:nth-child(3) {
  left: -4px;
  top: -4px;
  padding: 4px;
}

.btn-multiple-border-stroke .btn-borders-group .border-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #00aed1;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-multiple-border-stroke .btn-borders-group .border-right {
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: #00aed1;
  transform: scaleY(0);
  transform-origin: bottom;
}

.btn-multiple-border-stroke .btn-borders-group .border-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #00aed1;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-multiple-border-stroke .btn-borders-group .border-left {
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background: #00aed1;
  transform: scaleY(0);
  transform-origin: bottom;
}

.btn-multiple-border-stroke:hover {
  color: #00aed1;
  background: transparent;
}

.btn-multiple-border-stroke:hover .border-top,
.btn-multiple-border-stroke:hover .border-bottom {
  transform: scaleX(1);
}

.btn-multiple-border-stroke:hover .border-left,
.btn-multiple-border-stroke:hover .border-right {
  transform: scaleY(1);
}

.btn-multiple-border-stroke:hover .border-left {
  transition: 0.25s cubic-bezier(1, 0, 0.8, 0);
}

.btn-multiple-border-stroke:hover .border-bottom {
  transition: 0.25s cubic-bezier(1, 0, 0.8, 0);
}

.btn-multiple-border-stroke:hover .border-right {
  transition: 0.65s 0.25s cubic-bezier(0.2, 1, 0.2, 1);
}

.btn-multiple-border-stroke:hover .border-top {
  transition: 0.65s 0.25s cubic-bezier(0.2, 1, 0.2, 1);
}
